[*.cs]

# RCS1123: Add parentheses when necessary.
dotnet_diagnostic.RCS1123.severity = none

# RCS1036: Remove unnecessary blank line.
dotnet_diagnostic.RCS1036.severity = none

# RCS1118: Mark local variable as const.
dotnet_diagnostic.RCS1118.severity = none
